{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block js %}
    {{ block.super}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="{% static 'tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'funct.js' %}"></script>
    <script src="{% static 'style.css' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock %}

{% block content %}
<h1 style="text-align:center;">Book your free trip</h1>
<div id="results">
<div class="container-fluid">
<h1>List of Orders</h1>
<ul>
  {% for order in orders %}
  <li>
    <h2>{{ order.car }} {{ order.pick_up_date }} {{ order.drop_off_date}} </h2>
  </li>
  {% endfor %}
</ul>
{% endblock %}