{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block js %}
    {{ block.super}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="{% static 'tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'funct.js' %}"></script>
    <script src="{% static 'style.css' %}"></script>
{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock %}

{% block content %}


<div id="results">
<div class="container-fluid">
<h1>List of Cars</h1>

<ul>
  {% for car in cars %}
 
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ car.model.name }} {{ car.name}} {{car.colour}} </h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ car.model.brand.name }}</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  </div>
</div>
  {% endfor %}
</ul>
{% endblock %}

